 *{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
 }
 #full{
   height: 100%;
   width: 100%;
   box-sizing: border-box;
 }
 /* TOP PANNEL START */
 #navbar{
    height: 30px;
    width: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
 }
 #top{
    display: flex;
   gap: 30px;
   padding-right: 20px;
 }
 #navbar p{
    color: aliceblue;
    font: bold;
    
 }

 /* TOP PANNEL END */

 /* SEARCH PANNEL */
 #search{
    height: 50px;
    width: 100%;
    background-color: rgb(240, 13, 13);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    z-index: 9999;
    
 }
 #search img{
    height: 50px;
    width: 200px;
   background-color: aliceblue;
    
 }
.search {
   
   box-sizing: border-box;
   border: 1px solid rgba(0, 0, 0, 0.473);
   height: 20px;
   width: 400px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.search p{
  color: rgba(240, 248, 255, 0.507);
  
}
.black{
   width: 80px;
   box-sizing: border-box;
   color: aliceblue;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: black;
   border: 1px solid rgba(0, 0, 0, 0.473);
}
.cart{
   color: aliceblue;
}
/* SEARCH PANNEL END */

/* CENTER SECTION START */

#main{
   height: 300px;
   width: 80%;
   margin-left: 130px;
   padding-top: 50px;
   margin-top: 30px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
/* LEFT SIDE BOX START */
.top-category{
   height: 300px;
   width: 200px;
   background-color: rgba(128, 128, 128, 0.61);
   
   
}
.h1{
   color: rgba(128, 128, 128, 0.61);
   display: flex;
   justify-content: center;
   align-items: center;
}
.mens{
   display: flex;
   gap: 25px;
   justify-content: space-around;
   padding-top: 25px;
   padding-left: 20px;
}
.mens img{
   height: 30px;
   width: 50px;
   border-radius: 50%;
}
.mens p{
   color: gray;
   font-size: smaller;
}

.women{
   display: flex;
   gap: 25px;
   justify-content: space-around;
   padding-top: 25px;
   padding-left: 20px;
}
.women img{
   height: 30px;
   width: 50px;
   border-radius: 50%;
}
.women p{
   color: gray;
   font-size: smaller;
}

.home{
   display: flex;
   gap: 25px;
   justify-content: space-around;
   padding-top: 25px;
   padding-left: 20px;
   
}
.home img{
   height: 30px;
   width: 50px;
   border-radius: 50%;
}
.home p{
   color: gray;
   font-size: smaller;
   
}

.toys{
   display: flex;
   gap: 25px;
   justify-content: space-around;
   padding-top: 25px;
   padding-left: 20px;
   
}
.toys img{
   height: 30px;
   width: 50px;
   border-radius: 50%;
}
.toys p{
   color: gray;
   font-size: smaller;
   
}

.beauty{
   display: flex;
   gap: 25px;
   justify-content: space-around;
   padding-top: 25px;
   padding-left: 20px;
   
}
.beauty img{
   height: 30px;
   width: 50px;
   border-radius: 50%;
}
.beauty p{
   color: gray;
   font-size: smaller;
   
}
/* LEFT SIDE BOX END */

/* CENTRE AD BOX START */
.ad{
   height: 300px;
   width: 500px;
   background-image: url(pexels-max-fischer-5872348.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.pincode{
height: 300px;
   width: 200px;
    background-color: rgba(128, 128, 128, 0.61);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pincode button{
   width: 170px;
   background-color: aliceblue;
}
.pincode button p{
   color: rgba(0, 0, 0, 0.582);
}
.pincode p{
   color:  rgba(0, 0, 0, 0.582);
}
.icon{
   height: 300px;
   width: 100%;
   background-image: url(pexels-ingo-35969.jpg);
    background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
H3{
   margin-top: 40px;
   margin-left: 300px;
}

/* TRENDING SECTION BEGINS FROM HERE */
.trending{
   display: flex;
   align-items: center;
   justify-content:center
}

.box1{
   height: 200px;
   width: 200px;
  
}
.box1 img{
   height: 150px;
   width: 100%;
}
.box1 p{
   display: flex;
   justify-content: center;
   align-items: center;
   color: rgba(128, 128, 128, 0.603);
}
.box2{
   height: 200px;
   width: 200px;
  
   
} 
.box2 img{
   height: 150px;
   width: 100%;
}
.box2 p{
   display: flex;
   justify-content: center;
   align-items: center;
   color: rgba(128, 128, 128, 0.603);
}
.box3{
   height: 200px;
   width: 200px;
  
   
}
.box3 img{
   height: 150px;
   width: 100%;
}
.box3 p{
   display: flex;
   justify-content: center;
   align-items: center;
   color: rgba(128, 128, 128, 0.603);
}
.box4{
   height: 200px;
   width: 200px;
 
   
}
.box4 img{
   height: 150px;
   width: 100%;
}
.box4 p{
   display: flex;
   justify-content: center;
   align-items: center;
   color: rgba(128, 128, 128, 0.603);
}
   /* TRENING SECTION END */

   /* TRUST PAY SECTION BEGIN */

#trust{
   height: 200px;
   width: 90%;
   display: flex;
   justify-content:space-between;
   align-items: center;
   margin-left: 65px;
   margin-top: 20px;
}
.safe{
   height: 100%;
   width: 150px;
   display:flex;
   flex-direction: column;
   gap: 15px;
   

}
.safe i{
   font-size: 70px;
   
}
.safe h1{
   font-size: 15px;
}
.safe p{
   font-size: smaller;
   color: rgba(128, 128, 128, 0.836);
}

.trustpay{
   height: 100%;
   width: 150px;
   display:flex;
   flex-direction: column;
   gap: 15px;
   

}
.trustpay i{
   font-size: 70px;
   
}
.trustpay h1{
   font-size: 15px;
}
.trustpay p{
   font-size: smaller;
   color: rgba(128, 128, 128, 0.836);
}

.help{
   height: 100%;
   width: 150px;
   display:flex;
   flex-direction: column;
   gap: 15px;
   

}
.help i{
   font-size: 70px;
   
}
.helpy h1{
   font-size: 15px;
}
.help p{
   font-size: smaller;
   color: rgba(128, 128, 128, 0.836);
}

.app{
   height: 100%;
   width: 150px;
   display:flex;
   flex-direction: column;
   gap: 15px;
   

}
.app i{
   font-size: 70px;
   
}
.apph1{
   font-size: 15px;
}
.app p{
   font-size: smaller;
   color: rgba(128, 128, 128, 0.836);
}

/* TRUST PAY SECTION END */
#footer{
   margin-top: 30px;
   height: 40px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.social{
   display: flex;
  gap: 40px;
  font-size: xx-large;
}
.copyright{
   margin-right: 0px;
}